*{
    margin: 0;
    padding: 0;
}
 /* imagem do menu */  
img{
    width: 150px;
}

#menu{
    height: auto;
    background-color: #252525;
    top: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
    
}
   
body{
    background-color: rgba(236, 228, 228, 1);

}

/*Main da pagina Longin*/
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
/*Mein e container da pagina Cadastro*/
#meincadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
}

#containerLogin{
    height: auto;
    min-height: calc(100vh -200px);
}

#containerCadastro{
    height: auto;
}


/*DIV onde fica o formulario com do cadastro*/
#formCadastro{
    margin-top: 40px;
    margin-bottom: 100px;
    background: #FFFFFF;
    border-radius: 41px;    
    Width:400px;
    Height:870px;
    padding: 50px;

    
}

/*Muda os inputs da um espaço entre eles*/
input{
    margin-top: 20px ;
    border-radius: 8px;
    display: flex; 
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;

}
/*define que o formulario sera em direção de coluna*/
form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
/*muda o botão de Cadastar*/
form [type="submit"]{
    display: block;
    height: 50px;
    background: #252525;
    box-shadow: 0px 4px 4px rgba(0,0, 0, 0.25);
    border-radius: 23px;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

/*Faz os 2 fomularios ocuparem 1 so linha*/
#generoCPF{
    display: flex;
    justify-content: space-between;
}

#genero{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 7px;
   
}
/*muda os p*/
#nomeTex, #nomeTexDate{
    font-size: 15px;
    text-align: left;
}

#nomeTexDate{
    padding-top: 10px;
    margin-bottom: -20px;
}
/*Muda a caixa do genero*/
#opcoes{
    border-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    height: 30px;
}

#bairroN{
    display: flex;
    justify-content: space-between;
}

/*muda a fonte do texto*/

h1{
    font-size: 40px;
}

p{
   
    color: black;
   
}
a{
    color: #FD9E0F;
    text-decoration: none;
    margin-left: 10px;
}

/*-----Css deo login-----*/

/*Onde ta o formulario de login*/

#ladoEsq{
    display: flex;
    align-items: end;
    border: 1px solid white;
    align-items: end;
   
}

#LoginEntra{
    background: #FFFFFF;
    border-radius: 41px;    
    Width:300px;
    Height:350px;
    padding:50px;
    top:20px;
    flex-direction: column;
    margin: 40px 0;
    flex-wrap: wrap;
    display: flex;
    
}

#email, #senha{
    height: 50px;
}




/* CSS DO RODAPE */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100px;
    text-align: center;
    color: white;
}

#containeRodape {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
}

.conteudoRodape{
  width: 250px;
  
}
.conteudoRodape p{
    font-size: 13px;
}
.titulo p{
    font-size: 13px;
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none;
    font-size: 13px;
}

.redesocial{
    color: white; 
    text-decoration: none;

}


