/*Aqui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    margin-top: -20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 2vh;
    width: 27vw;
    padding: 15px;
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    cursor: pointer;
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
    
}


/*Essa div contem o buscador e a figura do carrinho para ficar ao lado*/
#butonCarrinho{
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrinho{
    margin-top: 20px;  
    margin-left: 20px;
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px; 
}
nav ul li a {
    display: inline-block;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;  
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -40px;  
} 

/*Aqui termina o css do header*/



/*Aqui termina o css do header*/

body {
    background: #D9D9D9;

}

/* Coloquei os elementos em coluna*/
main{
    min-height: calc(100vh - 220px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

/* Fica os dois lados do produto(imagem e nome do produto) na deireção de linha*/
#container{
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin: 20px;
    flex-wrap: wrap;
}
/* Peguei 4 pedaçõs da tela que foi dividida em 6*/


#produtoPrincipal figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
#fotoProdPrincipla{
    width: 25vw;
    height:300px;
    margin: 20px 0 10px 20px;

}

#imagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    justify-content: center;

}
.outrasImagens{
    width: 5vw;
    height: 80px;
}

.imagem :hover{
    cursor: pointer;
}


#favoritar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;

}

#nomeFav{
    font-size: 15px;
   
}

.coracao{
font-size: 20px; /* tamanho do coração */
color: gray; /* cor do coração desmarcado */
cursor: pointer;
margin-left: 40px;
}
  
input[type="checkbox"]{
display: none; /* esconde a checkbox padrão */
}
  
input[type="checkbox"]:checked + label {
color: red; /* cor do coração marcado */
}

/* Dividir a tela em 6*/
#lado-direito{
    padding-top: 20px;
    margin-right: 20px;
}

#texNomeProd{
    margin-top: 20px;
}

h1, h2{
    margin-left: 20px;
    font-size: 150%;
   
}

/* Criei uma lista para fazer as estrelas, o  content: "\2606" faz elas ficarem nessa forma */
ul{
    display: flex;
}
.checklist {
    list-style: none;
    padding: 0;
    padding-left: 40px;
    font-size: 25px;
    color: #D9D9D9;
    flex-wrap: wrap;
 }
 /* "\2606" para representar uma estrela vazia e "\2605" para uma estrela preenchida. Utilizamos o seletor ::before para adicionar o caractere antes do conteúdo de cada item da lista.*/

.checklist li::before {
    content: "\2606"; 
    margin-right: 5px;
    
}
 
.checklist li.checked::before {
    content: "\2605"; 
    color: #FD9E0F;
}

#boxPreco{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: #D9D9D9;
    border-radius: 14px;
    margin: 20px;
}

p, label{
    font-size: 100%;
}


#frete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 20px;
    
  
}

input[type="text"]{
    width: 200px;
    height: 25px;
    border: 1px solid #D9D9D9;

} 
/* Centraliza o texto do placeholder */
input[type="text"]::placeholder {
    text-align: center; 
}

#AddInfo{
    margin: 20px;
}

.opcs{
    display: flex;
    margin-bottom: 15px;
}
.opcaodaInfo {
   margin: 5px;
   width: 90px;
    height: 25px;
    border: 1px solid #D9D9D9;
    background-color: white;
}
.opcaodaInfo.active{
    border: 1px solid #FD9E0F;
    cursor: pointer;
}


#quantidade{
    display: flex;
    justify-content: start;
    margin: 20px;
}
#nomeQuant{
    margin-right:20px;
    margin-top: 5px;
}

#buttonsQuant{
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
    align-items: center;
}

  
#increaseBtn, #decreaseBtn, #quantityInput{
    margin: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 0px;
    color: black;
    font-weight: bold;
}
#increaseBtn, #decreaseBtn{
    border: none;
    background-color: #D9D9D9
}
#increaseBtn:hover, #decreaseBtn:hover{
    background-color: #252525;
    cursor: pointer;
    color: white;

}


#carrinho-compra{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
}

#carrinhobuton{
   margin-left: 2px;
}

#boxCarrinho{
    display: flex;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    margin-right: 20px;
    padding: 10px;

}


#boxCompra{
    background-color: #252525;
    color: white;
    border-radius: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

#boxCarrinho:hover, #boxCompra:hover{
    cursor: pointer;
}



/*CSS da descição*/
#descricao{
    width:47vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    flex-wrap: wrap;

}
#nome-descricao{
    margin: 5px;
    font-size: 20px;
    text-align: left;
}

#descricao p{
    font-size: 15px;
}
hr{
    border-color: #FD9E0F; /* Definindo a cor da borda */
}

#comentarios{
    width:47vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;

}

#nome-avaliacao{
    margin: 5px;
    font-size: 20px;
    text-align: left;

}

#usuario{
    display: flex;
    flex-direction: column;
    
}

#nomeDeUsuario{
    font-size: 10px;
    text-align: center;
    margin-top:-10px ;

}


#fotoComentario{
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;
}

#figPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfil{
    border-radius: 100%;
    margin: 20px;
    width: 5vw;
    height: 10vh;
}

#fotoComentario{
    margin-left:20px ;
}



/* CSS DO RODAPE */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100px;
    text-align: center;
    color: white;
}

#containeRodape {
    display: flex;
    flex-wrap: wrap;
}
#tema{
    background-color: #252525;
    border: none;
    color: white;
    margin: 5px;
}

#tema:hover {
    cursor: pointer;

}
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
}

.conteudoRodape{
  width: 250px;
  
}
.conteudoRodape p{
    font-size: 13px;
}
.titulo p{
    font-size: 13px;
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none;
    font-size: 13px;
}

.redesocial{
    color: white; 
    text-decoration: none;

}
