/*Aqui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: auto;
    height: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    margin-top: -20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 30px;
    width: 500px;
    padding: 15px;
}

#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    cursor: pointer;
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
    
}
#buscador {
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

/*Essa div contem o buscador e a figura do carrinho para ficar ao lado*/
#butonCarrinho{
    display: flex;
}

#carrinho{
    margin-top: 20px;  
    margin-left: 20px;
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px; 
}
nav ul li a {
    display: inline-block;
    justify-content: center;
    padding-left: 15px;
    font-size: 25px;
    text-decoration: none;  
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;  
} 

/*A qui termina o css do header*/


/*Aqui começao css do main*/
body {
    background: #D9D9D9;

}

main{
    min-height: calc(100vh - 220px);
    width: 100%;
    display: flex;

}

.painel_end{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
 }


 #dados_end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
 }

 #titulo_end{
    display: flex;
    margin-bottom: 20px;
 }

 button{
    border: none;
    font-size: 15px; 
    color: #FD9E0F;
    background-color: white;
    
 }

 #section_um{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
    background-color: #FFFFFF;
    margin: 40px;
    margin-block-end: 20px;
    border-radius: 4px 4px 4px 4px;
    justify-content: center;
    flex-wrap: wrap;
 }

 #titulo_produto{
    display: flex;
    margin-bottom: 20px;
 }

#section_dois{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 60%;
    padding: 18px;
    flex-wrap: wrap;
    border-radius: 4px 4px 4px 4px;
    
}

#produto{
    display: flex;
    flex-direction: row;
    align-items:center ;
    justify-content: space-between;
    
}

#imgProd{
    display: flex;
}


#itens{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: flex-end;
    align-items: center;
    
}
.inf{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: auto;
    width: auto;
}

.text_nome{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.text_numero{
    display: flex;
    flex-direction: column;
}

#vazio{
    height: 20px;
}


hr{
    margin-block-end: 20px;
    border-color:rgba(253, 158, 15, 1) ;
}
.dados{
    justify-content: end;
}

.div_produto{
    margin: 15px;
}

#nProduto{
    display:flex ;
    flex-direction: column;
    margin: 20px;
}






#section_tres{
    margin: 20px;
    margin-block-end: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    border-radius: 4px 4px 4px 4px;  
    align-items: flex-end;
    height: auto;
    padding: 20px;
}

#entrega{
    display: flex;
    
}


 /*Aqui termina css do main*/

 /* CSS DO RODAPE     */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    width: auto;
    height: 100px;
    text-align: center;
    color: white;
}


#container {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;

}

.conteudo{
  width: 250px;
  padding: 10px;
  
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none; 
}

.redesocial{
    color: white; 
    text-decoration: none; 
}