/*Aqui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    margin-top: -20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 30px;
    width: 500px;
    padding: 15px;
}

#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    cursor: pointer;
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
    
}
#buscador {
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

/*Essa div contem o buscador e a figura do carrinho para ficar ao lado*/
#butonCarrinho{
    display: flex;
}

#carrinho{
    margin-top: 20px;  
    margin-left: 20px;
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px; 
}
nav ul li a {
    display: inline-block;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;  
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -40px;  
} 

/*Aqui termina o css do header*/




/*Aqui inicia o css do main*/

main{
    min-height: calc(100vh - 160px);
    background-color: 
    rgb(215, 211, 211);
}

#painel{   
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
    justify-content: center;
}
.categorias  {/*estiliza a div que conten div com os icones de categoria*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;     
}

#div_cate img{
   margin: 10px;
}

#div_cate{ /*Div categoria*/
    width: 60.8%;
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;    
}

#div_cate p{
    color: #000000;
}

#destaques{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 63%;
    flex-wrap: wrap;
    margin-bottom: 60px;   
}

#produtos{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}

#produtosMostruario{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    display: flex;
    justify-content:start;
    align-items: center;
}

#BoxNomeProduto{
    width: 60vw;
    height: 40px;
    background-color: white;
    
}
.produto{
    flex-direction: column;
    width: 200px;
    height: 240px;
    background: #FFFFFF;
}

.produto figure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.produto img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }

.produto:hover{
    cursor: pointer;
    
}

.produto img{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    
}


h1{
    text-align: left;
    color:black;
    padding: 5px 0px 10px 30px;
    font-size: 22px;
}

h3{
    font-size: 15px;
    margin: 5px 25px;
    text-align: left;
    color: rgb(38, 37, 37)
}
h4{
    font-size: 15px;
    margin: 5px 25px;
    text-align: left;
    color: rgb(38, 37, 37)
}




/*Aqui termina o css do main*/

/* CSS DO RODAPE     */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    width: auto;
    height: 100px;
    text-align: center;
    color: white;
}


#container {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                              
font-size: 13px;
}

.conteudo{
  width: 250px;
  padding: 10px;
  
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none; 
}

.redesocial{
    color: white; 
    text-decoration: none; 
}