/*Aqui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    margin-top: -20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 2vh;
    width: 27vw;
    padding: 15px;
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    cursor: pointer;
    color: black; 
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
    
}

/*Essa div contem o buscador e a figura do carrinho para ficar ao lado*/
#butonCarrinho{
    display: flex;
    align-items: center;
    justify-content: center;
}

#carrinho{
    margin-top: 20px;  
    margin-left: 20px;
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px; 
}
nav ul li a {
    display: inline-block;
    justify-content: center;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;  
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -40px;  
} 

/*Aqui termina o css do header*/


/*Aqui começao css do main*/
body {
    background: #D9D9D9;

}

main{
    min-height: calc(100vh - 220px);
    width: 100%;
    display: flex;
    flex: wrap;

}

.painel_end{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.custom-select {
    width: auto;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#troca1{
    display: block;
    flex-wrap: wrap;
}

#troca2{
    display: none;
    flex-wrap: wrap;
}

#dados_end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px; 

}


#dados_entrega{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px; 
    flex-wrap: wrap;

}

#aviso{
    background-color: #FD9E0F;
    text-align: center;
}



button{
    border: none;
    font-size: 15px; 
    color: #FD9E0F;
    background-color: white;
    cursor: pointer;
    flex-wrap: wrap;
    
}

#TipoDeEntrega{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 60%;
    background-color: #FFFFFF;
    margin: 40px;
    margin-block-end: 20px;
    border-radius: 4px 4px 4px 4px;
    justify-content: center;
    flex-wrap: wrap;
}

#titulo_produto{
    display: flex;
    margin-bottom: 20px;
}

#infDosProdutos{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 60%;
    padding: 18px;
    flex-wrap: wrap;
    border-radius: 4px 4px 4px 4px;
    
}

#produto{
    display: flex;
    flex-direction: row;
    align-items:center ;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#imgProd{
    display: flex;
    flex-wrap: wrap;
}


#itens{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.inf{
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

.text_nome{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.text_numero{
    display: flex;
    flex-direction: column;
}

#vazio{
    height: 20px;
}


hr{
    margin-block-end: 20px;
    border-color:rgba(253, 158, 15, 1) ;
    width: 100%;

}
.dados{
    justify-content: end;
}

.div_produto{
    margin: 15px;
}

#nProduto{
    display:flex ;
    flex-direction: column;
    margin: 20px;
}

#parteInferior{
    display: flex;
    justify-content: end;
    margin: 0 20px;
    flex-wrap: wrap;
}
#tipoEntrega{
    margin-right:40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#obs{
    color: #FD9E0F;
    margin-top: 5px;
}

.total{
    font-size: 30px;
}



#totalCompra{
    margin: 20px;
    margin-block-end: 40px;
    width: 60%;
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    border-radius: 4px;  
    justify-content: end;
    height: auto;
    padding: 20px;
}

#texEntrega{
    margin-right:40px;
}

#pagTotal{
    margin: 10px;
}
#fazerPedido{
    background-color: #252525;
    color: white;
    width: 100px;
    height: 40px;
    margin: 10px;
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Janela modal */
#modal{
    width: 30vw;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    /* essa parte do codigo coloca janela no meio da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* Oque faz a janela sumir e o display none */
    display: none; 

}
#conteudoModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;


}

#dadosNovo{
   display: flex;
   flex-direction: column;
   margin: 20px;
}

#bairroN{
    display: flex;
}

#bairroN input{
    width: 9vw;
}

#buttonEnviar{
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background: #252525;
    margin-top: 40px;
}
input{
    flex-wrap: wrap;
    height:5vh;
    width: 20vw;
    border: 1px solid;
    margin: 10px;
}

label{
    font-size: 25px;
}

#fechar{
    margin: 20px;
    width: 30px;
    float: right;
    cursor: pointer;
    color: #FD9E0F;
}


/*Aqui termina css do main*/

 /* CSS DO RODAPE     */
 footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: auto;
    width: auto;
    text-align: center;
    color: white;
}

  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
  flex-wrap: wrap;
}

.conteudo{
  width: 250px;
  padding: 10px;

}

#tema{
    background-color: #252525;
    border: none;
    color: white;
    margin: 5px;
}

#tema:hover {
    cursor: pointer;

}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none;
}

.redesocial{
    color: white; 
    text-decoration: none;

}

