/*A qui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;  
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}
.hea_superior{ /*div principal do header*/
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}
#buscador{
    height: 30px;
    padding: 15px;
    font-family: 'Graduate';   
}
#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    font-family: 'Graduate';
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
}
#carrinho{
    margin-top: 24px;  
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-left: 80px;
    text-decoration: none;
    font-family: 'Graduate';
    color: #FFFFFF;
    font-size: 25px; 
}
nav ul li a {
    font-family: 'Graduate';
    margin-top: 10px;
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;    
}
nav ul {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 40px;  
} /*A qui termina o css do header*/

/* CSS DO RODAPE     */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100px;
    text-align: center;
    color: white;
}


#container {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
  font-family: 'Graduate', cursive;
}

.conteudo{
  width: 250px;
  padding: 10px;
  
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none; 
}

.redesocial{
    color: white; 
    text-decoration: none; 
}
