*{
    margin: 0;
    padding: 0;
    box-sizing: 1;
}

/*Aqui inicia o css do header*/
*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: auto;
    height: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    margin-top: -20px;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 30px;
    width: 500px;
    padding: 15px;
}

#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    cursor: pointer;
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
    
}
#buscador {
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

/*Essa div contem o buscador e a figura do carrinho para ficar ao lado*/
#butonCarrinho{
    display: flex;
}

#carrinho{
    margin-top: 20px;  
    margin-left: 20px;
    width:45px;
    height:45px;
}
#cadastro_entrar{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px; 
}
nav ul li a {
    display: inline-block;
    justify-content: center;
    padding-left: 15px;
    font-size: 25px;
    text-decoration: none;  
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 40px;  
} 

 /*A qui termina o css do header*/

   
   
body{

    background-color: rgba(236, 228, 228, 1);
}

main{
    display: flex;
    flex: 6;
    padding: 30px;
    display: flex;
    min-width: 100vh;
    gap:50px;
    flex-wrap: wrap;


}

h1, h2, h3, h4, p{
    font-family: 'Graduate';
}
h1{
    text-align: left;
    color: black;
    padding: 5px 0px 10px 30px;
    font-size: 25px;
}


h2{
    text-align: center;
    font-size: 25px;
    padding: 10px 5px 10px 10px;
}

h3{
    font-size: 15px;
    padding: 10px  0 0 20px;
    color: rgb(38, 37, 37)
}

h4{
    font-size: 15px;
    padding: 0 0 0 20px;
    color: rgb(38, 37, 37)
}

#mostruario{
    display: flex;
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#categoria{
    flex: 3.5;    
    flex-wrap: wrap;
}

#vazio{
    height: 70px;
}

#BoxCategoria, #BoxPreço{
    width: 180px;
    height:50px;
    background:  #252525;
    border-radius: 11px;
    text-align: center;
    color: white;
}


.barra{
    width: 150px;
    display: flex;
    margin: 10px 0 0 10px;
    
}

#valorPreco{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

#produtos{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    flex-wrap: wrap;
}

#produtosMostruario{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 20px;
}

#BoxNomeProduto{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 58px;
    
}
.produto{
    flex-direction: column;
    width: 200px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 10px;
}

.produto figure {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
.produto img {
    display: inline-block;
  }

.produto:hover{
    cursor: pointer;
    
}

#checkpoint ul{
    list-style: none;
    padding: 20px;
}

#checkpoint li{
    margin: 10px;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
}

input[type="checkbox"]:checked {
    background-color: #FD9E0F;
    border-color: #FD9E0F;
  }
  
label {
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
  }

.produto img{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid red;
    
  }

  
/* CSS DO RODAPE */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100px;
    text-align: center;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
  font-family: 'Graduate', cursive;
}

.conteudo{
  width: 250px;
  padding: 10px;
  
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none;
}

.redesocial{
    color: white; 
    text-decoration: none;

}

