*{  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    display: flex;
    background-color: #252525;
    flex-direction: row;
    width: 100vw;
    height: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
#logolagoinha{
    width: 150px;
    border: none;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:rgba(253, 158, 15, 1)  ;
}
.cor{
    color:#FFFFFF ;
}

#buscador{
    height: 30px;
    width: 500px;
    padding: 15px;
    font-family: 'Graduate';  
    flex-wrap: wrap;  
}
#button{
    height: 2.1rem;
    padding: 5px;
    margin-top: 30px;
    background-color:rgba(253, 158, 15, 1) ;
    border: none;
    border-radius: 0px  4px 4px 0px ;
    font-family: 'Graduate';
    cursor: pointer;
}
#bus_but{/*div principal do buscador*/
    display: flex;
    justify-content: center;
   
}

#buscador {
    max-width: 650px;
    font-size: 16px;
    margin-top: 20px;
}

#sair{ /*div principal de cadastro e login*/
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: 'Graduate';
    color: #FFFFFF;
    font-size: 15px; 
  
}
nav ul li a {
    font-family: 'Graduate';
    display: inline-block;
    justify-content: center;
    text-decoration: none; 
    margin-right: 10px;
    font-size: 15px; 
}

a:hover{
    color: #FFFFFF;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 


/*Aqui começa o body*/

body{

    background-color: rgba(236, 228, 228, 1);
}


main{
    display: flex;
    flex: 6;
    padding: 30px;
    display: flex;
    min-width: 100vh;
    gap:50px;
    flex-wrap: wrap;


}

h1, h2, h3, h4, p{
    font-family: 'Graduate';
}
h1{
    text-align: left;
    color: #FD9E0F;
    padding: 5px 0px 10px 30px;
    font-size: 25px;
}


h2{
    text-align: center;
    font-size: 25px;
    padding: 10px 5px 10px 10px;
}

h3{
    font-size: 15px;
    padding: 10px  0 0 20px;
    color: rgb(171, 169, 169)
}

h4{
    font-size: 15px;
    padding: 0 0 0 20px;
    color:#FD9E0F;
}

#mostruario{
    display: flex;
    min-height: calc(100vh - 160px);
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#categoria{
    flex: 4; 
    flex-wrap: wrap;
}

#vazio{
    height: 70px;
}

#boxAdd{
    width: 250px;
    height:50px;
    background: #FD9E0F;
    border-radius: 11px;
    text-align: center;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
#ButonAdd{
    font-size: 20px;
}

.lateral{
    font-size: 20px;
    color: black;
    font-family: 'Graduate';
}

.lateral:hover{
    color: #FD9E0F;
}

#produtos{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 20px;
    flex-wrap: wrap;
}

#produtosMostruario{
    display: flex;
    justify-content: space;
    flex-wrap: wrap;
    gap: 20px;
}

#BoxNomeProduto{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 58px;
    
}

.prodEditarExcluir{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 15px 0;
    height: 280px;
}

button{
    cursor: pointer;
}

.button{
    background: #FD9E0F;
    border-radius: 5px;
    border: none;
    width: 50px;
    height: 20px;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}


.produto{
    flex-direction: column;
    width: 200px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 10px;

}

.produto figure {
    text-align: center;
    padding: 20px 0 0 0;
  }
  
.produto img {
    display: inline-block;
  }


ul{
    list-style: none;
    padding: 20px;
}

li{
    margin: 10px 0;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: white;
}

input[type="checkbox"]:checked {
    background-color: #FD9E0F;
    border-color: #FD9E0F;
  }
  
label {
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
  }

img{
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid red;
    
  }

  
/* CSS DO RODAPE */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    height: 100px;
    text-align: center;
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
  }
  
#rodape{
  display: flex;
  justify-content: space-between;
  width:100%;                                                                                                            
  font-size: 13px;
  font-family: 'Graduate', cursive;
}

.conteudo{
  width: 250px;
  padding: 10px;
  
}

  
.titulo{
    color:rgba(182, 182, 182, 0.815); 
    text-decoration: none;
}

.redesocial{
    color: white; 
    text-decoration: none;

}

/* CSS da janela Modal */
/* tamananho da janela */
.modal{

    width: 300px;
    height: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    position: absolute;
    /* essa parte do codigo coloca janela no meio da tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* Oque faz a janela sumir e o display none */
    display: none; 
   
    
}

#conteudoModal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 35px;

}
#texExclusão{
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    margin-top: 70px;
}

.buttonSN{
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 12px;
    color: white;
    background: #A4A0A0;
}

#buttonSim{
    margin-bottom: 10px;
    background-color: #FD9E0F;
}

.fechar{
    margin-top: 20px;
    width: 30px;
    float: right;
    cursor: pointer;
    color: #FD9E0F;
}

